<app-header></app-header>
<body>
  <div class="cnt-section">
  <div class="contact_container">
    <section class="complete_section">
      <h2 class="title_box">Contact Us</h2>
      <form action="#" method="POST">

          <label for="name">Name: </label>
          <input type="text" id="name" name="name" required>

          <label for="email">Email: </label>
          <input type="email" id="email" name="email" required>

          <label for="phone">Phone: </label>
          <input type="tel" id="phone" name="phone">

          <label for="message">Message: </label>
          <textarea id="message" name="message" rows="4" required></textarea>

          <button type="submit" class="submit-button">Submit</button>
      </form>
  </section>
      <div class="img_section">
      <img class="img_contact" src="assets/imgs/contact/ct4.jpeg">
      </div>
  </div>
  
  <section class="contact-info">
      <h4>Contact Information</h4>
      <address class="elem_contact">
          <div class="addr">
               <img class="icons-img" src="assets/imgs/contact/addr.png">
               Strada Politehnicii 1<br>
                Brasov 500024<br>
          </div>
          <div class="fb-ig">
              <div class="fb">
                   <img class="icons-img" src="assets/imgs/contact/fb.png"><a href="https://www.facebook.com/GLAMIRA.ro">Luxurious.jewellery</a>
              </div>
              <div class="ig">
                  <img class="icons-img" src="assets/imgs/contact/ig.png"><a href="https://www.instagram.com/jellewery_gold_store/">&#64;Luxurious.jewellery</a>
              </div>
          </div>
          <div class="mail">
              Phone: <a href="tel:1234567890">123-456-7890</a><br>
              Email: <a href="luxurious@lux.jewellery.com">luxurious&#64;lux.jewellery.com</a>
          </div>
      </address>
  </section>
</div>
</body>