.dialog_box{
  width: 200px;
  height: 30px;
  border-radius: 65px;
}

.dialog_text{
  justify-content: baseline;
  font-family: "Italiana", sans-serif;
  font-weight: 200;
  margin-left: 17px;
  margin-top: 5px;
}