<div class="body">
  <div class="home_page">
    <div class="center_content">
     <img class="dim" src="assets/imgs/home/dim.png">
      <h1 class="name">Luxurious Jewellery</h1>
      <h2 class="caption">Dimonds make life better.</h2>
      <p class="home_description">Jewelry holds a profound significance in a woman's life, transcending mere adornment to become a vessel of memory, identity, and expression. Beyond the sparkle and shimmer, each piece carries a story—be it a cherished gift from a loved one, an heirloom passed through generations, or a personal indulgence marking milestones and achievements.</p>
      <button class="center_btn"><a routerLink="/watches" class="start_sph">Start shopping</a></button>
      <img class="dim" src="assets/imgs/home/dim.png">
    </div>
  </div>
</div>